{% extends 'blank_layout.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block banner %}
{% endblock banner %}
    
{% block content %}
{% endblock content %}

{% block detail %}
{% endblock detail %}

{% block home_page %}
{% endblock home_page %}

{% block account %}

<div class="account-page-wrapper">
    <div class="account-container">
        
        <!-- LEFT SIDE: HERO GRAPHIC -->
        <div class="account-hero-image">
            <img src="{% static 'images/rimskart.png' %}" alt="Sports Graphic">
        </div>

        <!-- RIGHT SIDE: THE COMPACT SWITCHING CARD -->
        <div class="form-card">
            
            <!-- Header Toggle Switches -->
            <div class="form-btn-toggle">
                <span id="login-tab-btn">Login</span>
                <span id="register-tab-btn">Register</span>
            </div>
            <!-- The physical sliding color line -->
            <hr id="indicator">

            <!-- Container wrapping both physical forms together -->
            <div class="form-slider-container">
                
                <!-- LOGIN FORM -->
                <form id="login-form" class="account-form" method="POST" action="">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" name="username" required>
                    <input type="password" placeholder="Password" name="password" required>
                    <button type="submit" class="submit-btn" name="login">Login</button>
                    <a href="#" class="forgot-link">Forgot password?</a>
                </form>

                <!-- REGISTER FORM -->
                <form id="register-form" class="account-form" method="POST" action="">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" name="username" required maxlength="20">
                    <input type="password" placeholder="Password" name="password" required minlength="8">
                    <input type="text" placeholder="Address" name="address" required maxlength="30">
                    <input type="text" placeholder="Phone" name="phone" required minlength="10">  
                    <input type="email" placeholder="Email" name="email" required >                  
                    <button type="submit" class="submit-btn" name="register">Register</button>
                </form>

            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{message.tags}}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock account %}
