{% extends 'blank_layout.html' %}
{% load static %}
{% load multiply %}
{% load gettotal %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block banner %}
<!-- Empties the home banner -->
{% endblock banner %}
    
{% block content %}
<!-- Empties the home product list grid -->
{% endblock content %}

{% block detail %}
<!-- Empties out the product description content -->
{% endblock detail %}

{% block account %}
<!-- Empties out the account login layout -->
{% endblock account %}

{% block home_page %}
{% endblock home_page %}

{% load getstatus %}


{% block cart %}
<div class="cart-page-container">
    
    <!-- Main Items Grid Table -->
    {% if orders %}
    <table class="cart-table">

        <thead>
            <tr>
                <th width="25%" >Order ID</th>
                <th width="25%" class="text-center">Date</th>
                <th width="25%" class="text-center">Amount</th>
                <th width="25%" class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td width="25%">{{ order.id }}</td>
                <td width="25%" class="text-center">{{ order.created_at }}</td>
                <td width="25%" class="text-center">₹{{ order.total_amount|floatformat:2 }}</td>
                <td width="25%" class="text-center">{% getstatus order.order_status %}</td>
            </tr>
            {% endfor %}            
            </tr>          
        </tbody>
    </table>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
{% endblock cart %} 


