{% extends 'blank_layout.html' %}
{% load static %}
{% load chunks %}

{% block porducts_list %}
<div class="header-container">
    <h1>All Products</h1>
    <select class="sort-select">
        <option>Default Sorting</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
    </select>
</div>  
    
<div>
    <div class="products-grid">
        {% for values in prod %}
            <div class="product-card">
                <a href="{% url 'products_detail' values.id %}"><img class="product-image" src="{{ values.image.url }}" alt="{{ values.title }}"></a>
                <h3>{{ values.title }}</h3>
                <p>₹{{ values.price }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class = pagebutton>
    {% if prod.has_previous %}
        <a href="?page={{ prod.previous_page_number }}"><span><<</span></a>
    {% endif %}
   
    {% for page_num in prod.paginator.page_range %}
        <a href="?page={{ page_num }}"><span>{{ page_num }}</span></a>
    {% endfor %} 
    
    {% if prod.has_next %}
        <a href="?page={{ prod.next_page_number }}"><span>>></span></a>
    {% endif %}
</div>
{% endblock porducts_list %}

{% block detail %}
{% endblock detail %}
{% block home_page %}
{% endblock home_page %}